* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

.wrapper {
	position: relative;
	min-height: 100vh;
	background-color: #6563ff;
}

article,
.hide {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	pointer-events: none;
	user-select: none;
	transition: all 0.3s ease;
}
.show {
	opacity: 1;
	pointer-events: auto;
	user-select: auto;
}

/* MAIN MENU */
.main-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	background-color: #fff;
	font-family: "Poppins";
	padding: 12px 24px;
	border-radius: 10px;
}
.game-title {
	font-size: 30px;
}
.play-btn {
	background-color: #6563ff;
	color: #f8f8f8;
	font-size: 16px;
	padding: 14px 22px;
	border: 1.5px solid #6563ff;
	border-radius: 5px;
	outline: none;
	transition: 0.3s;
}
.play-btn:hover {
	border: 1.5px solid #000;
}

/* MODE MENU */
.mode-menu {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	width: 400px;
}
.mode-title {
	position: absolute;
	top: -60px;
	left: 50%;
	color: #fff;
	transform: translate(-50%, -50%);
	font-family: "Poppins", sans-serif;
	font-size: 40px;
}
.mode {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.mode button {
	background-color: #f8f8f8;
	color: #6563ff;
	font-size: 20px;
	padding: 14px 22px;
	border: 1.5px solid #f8f8f8;
	border-radius: 5px;
	outline: none;
	transition: 0.3s;
}
.mode button:hover {
	background-color: #6563ff;
	color: #f8f8f8;
}
.dropdown {
	position: absolute;
	top: 60px;
	width: 200px;
	background-color: #fff;
	font-family: "Arial", sans-serif;
	overflow-y: hidden;
}
.dropdown ul {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 10px 18px;
	font-size: 14px;
}
.dropdown ul li {
	list-style: none;
}

/* GAME MENU */
.game-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.title {
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 30px;
}
.gameboard {
	width: 400px;
	height: 400px;
	background-color: #f8f8f8;
	padding: 25px;
	border-radius: 10px;
}
.cards,
.card,
.view {
	display: flex;
	justify-content: center;
	align-items: center;
}
.cards {
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
}
.cards .card {
	position: relative;
	perspective: 800px;
	transform-style: preserve-3d;
	width: calc(100% / 4 - 10px);
	height: calc(100% / 4 - 10px);
	cursor: pointer;
}
.card.shake {
	animation: shake 0.35s ease-in-out;
}
@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	20% {
		transform: translateX(-13px);
	}
	40% {
		transform: translateX(13px);
	}
	60% {
		transform: translateX(-8px);
	}
	80% {
		transform: translateX(8px);
	}
}

.cards .card .view {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 7px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
	user-select: none;
	pointer-events: none;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transition: transform 0.25s linear;
}
.card .front-view i {
	color: #6563ff;
	font-size: 40px;
}
.card.flip .front-view {
	transform: rotateY(180deg);
}
.card .back-view {
	transform: rotateY(-180deg);
}
.card.flip .back-view {
	transform: rotateY(0deg);
}
.card .back-view img {
	max-width: 45px;
}
